/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

  @font-face {
      font-family: 'Corbert-Regular';
      src: url('../fonts/Corbert-Regular-webfont.eot');
      src: url('../fonts/Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/Corbert-Regular-webfont.woff') format('woff'),
             url('../fonts/Corbert-Regular-webfont.ttf') format('truetype'),
             url('../fonts/Corbert-Regular-webfont.svg#Corbert-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'NotoSans-Regular';
      src: url('../bower_components/webfont-notosans/regular/NotoSans-Regular-webfont.eot');
      src: url('../bower_components/webfont-notosans/regular/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../bower_components/webfont-notosans/regular/NotoSans-Regular-webfont.woff') format('woff'),
             url('../bower_components/webfont-notosans/regular/NotoSans-Regular-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$lato:              'Lato', $sans-serif;
$corbert:           'Corbert-Regular',$sans-serif;
$noto:              'NotoSans-Regular', $sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}
