/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

$primary-color: #064B8D;

/*********************
COLORS
*********************/
$fa-font-path:        "../bower_components/font-awesome/fonts" !default;


$yellow:            color('yellow','base');
$red:               color('red','base');
$blue:              color('blue','base');

$black:             #333;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             color('green', 'darken-1');

$bones-pink:        #f01d4f;
$blue:              $primary-color;
$link-hover:        darken($primary-color, 25%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
