/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
*********************/
/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
@font-face {
  font-family: 'Corbert-Regular';
  src: url("../fonts/Corbert-Regular-webfont.eot");
  src: url("../fonts/Corbert-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Corbert-Regular-webfont.woff") format("woff"), url("../fonts/Corbert-Regular-webfont.ttf") format("truetype"), url("../fonts/Corbert-Regular-webfont.svg#Corbert-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../bower_components/webfont-notosans/regular/NotoSans-Regular-webfont.eot");
  src: url("../bower_components/webfont-notosans/regular/NotoSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../bower_components/webfont-notosans/regular/NotoSans-Regular-webfont.woff") format("woff"), url("../bower_components/webfont-notosans/regular/NotoSans-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

******************************************************************/
/*********************
TRANSITION
*********************/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
				plan your menus and drop-downs wisely.
				*/ }
      .menu ul li a {
        /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/***********************************
KNOB STYLES: Featured Content Slider
***********************************/
ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption,
.hero-area .image-container .caption-wrapper .caption {
  max-width: 75%; }
  ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption h3.caption-header,
  .hero-area .image-container .caption-wrapper .caption h3.caption-header {
    font-size: 1.25em;
    letter-spacing: normal; }

.slider .slides li.KNOB-slide-wrapper img,
.image-container img {
  width: 100%;
  height: auto;
  min-height: auto;
  min-width: auto; }

/*adding percentage for centered caption without flexbox*/
.no-flexbox .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexboxlegacy .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexbox .hero-area .image-container .caption,
.no-flexboxlegacy .hero-area .image-container .caption {
  width: 75%;
  min-height: 5em;
  left: 12.5%;
  margin-top: -4em; }

/***********************************
KNOB STYLES: Breadcrumbs
************************************/
.KNOB-breadcrumbs .breadcrumbs-inner > span span, .KNOB-breadcrumbs .breadcrumbs-inner span a {
  font-size: 0.875rem;
  margin: 0 0.125rem; }

/***********************************
KNOB STYLES: Section Links
************************************/
ul.section-links li.section-link:first-child, ul.section-links li.section-link:nth-child(2) {
  border-top: 1px solid #ddd; }

ul.section-links li.section-link:nth-child(2n) {
  border-left: 0; }

/***********************************
KNOB STYLES: Events and News
************************************/
article.event.card .card-content.inline-image .image-wrapper.left, article.post.card .card-content.inline-image .image-wrapper.left {
  width: 33.33%; }

article.event.card .card-content.inline-image .content-wrapper, article.post.card .card-content.inline-image .content-wrapper {
  width: 66.66%; }

article.event.card.widget-item .card-content.inline-image .content-wrapper, article.post.card.widget-item .card-content.inline-image .content-wrapper {
  width: 100%; }

/***********************************
KNOB STYLES: Webshop
************************************/
.page-template-page-webshop section.webshop .shop-item {
  text-align: left; }

/***********************************
KNOB STYLES: Webshop
************************************/
footer.page-footer div.footer-copyright {
  text-align: left; }
  footer.page-footer div.footer-copyright div.copy-line-or-block {
    display: inline;
    margin-bottom: 0; }

/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
.nav {
  border: 0;
  overflow: hidden;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav li {
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */ }
    .nav li > a {
      font-size: 0.8em;
      padding: 0 0.8em;
      /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/ }
      .nav li > a:hover, .nav li > a:focus, .nav li > a:active {
        box-shadow: inset 0 -0.25em 0 0 #064B8D; }
    .nav li.menu-item-has-children a:hover {
      box-shadow: none; }
    .nav li:first-child {
      margin-left: 1.5rem; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      border-top: 0;
      position: absolute;
      visibility: hidden;
      z-index: 8999;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/ }
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          padding-left: 10px;
          border-right: 0;
          display: block;
          width: 180px;
          border-bottom: 1px solid #ccc; }
        .nav li ul.sub-menu li:last-child a,
        .nav li ul.children li:last-child a {
          border-bottom: 0; }
        .nav li ul.sub-menu li ul,
        .nav li ul.children li ul {
          top: 0;
          left: 100%; }
    .nav li:hover > ul {
      top: auto;
      visibility: visible; }
  .nav li.current-menu-item a,
  .nav li.current_page_item a,
  .nav li.current_page_ancestor a {
    box-shadow: inset 0 -0.25em 0 0 #064B8D; }

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
.widget ul li {
  /* deep nesting */ }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em; }

/***********************************
SEARCH STYLES:
***********************************/
nav #search-wrapper {
  padding-left: 14%; }

/*********************
FOOTER STYLES
*********************/
footer.page-footer .widget-wrapper:nth-of-type(2) {
  border-top-width: 0;
  padding-top: 0; }

/***********************************
KNOB STYLES: Featured Content Slider
***********************************/
/*adding percentage for centered caption without flexbox*/
.no-flexbox .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexboxlegacy .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexbox .hero-area .image-container .caption,
.no-flexboxlegacy .hero-area .image-container .caption {
  width: 50%;
  min-height: 10em;
  left: 25%;
  margin-top: -5em; }

ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption,
.hero-area .image-container .caption-wrapper .caption {
  max-width: 50%; }

ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption h3.caption-header,
.hero-area .image-container .caption-wrapper .caption h3.caption-header {
  font-size: 1.5em; }

/***********************************
KNOB STYLES: Breadcrumbs
************************************/
.KNOB-breadcrumbs {
  display: block; }
  .KNOB-breadcrumbs .breadcrumbs-inner > span span, .KNOB-breadcrumbs .breadcrumbs-inner span a {
    font-size: 1rem; }

/***********************************
KNOB STYLES: Section Navigation
***********************************/
div.section-links-wrapper {
  position: relative;
  left: -0.75rem; }

ul.section-links {
  margin: 0 auto; }
  ul.section-links li.section-link a {
    font-size: 1rem; }
  ul.section-links li.section-link:first-child, ul.section-links li.section-link:nth-child(2) {
    border-top: 0; }
  ul.section-links li.section-link.s4:nth-child(2n+1), ul.section-links li.section-link.s3:nth-child(4) {
    border-left: 0; }
  ul.section-links li.section-link.s4:nth-child(3n+1) {
    border-left: 1px solid #ddd; }

a.btn.back-to-top span.btn-text {
  display: inline; }

a.btn.back-to-top i {
  margin-left: 0.5em; }

/***********************************
KNOB STYLES: Events and News
************************************/
article.event.card .card-content.inline-image .image-wrapper.left, article.post.card .card-content.inline-image .image-wrapper.left,
article.event.card.widget-item .card-content.inline-image .image-wrapper.left, article.post.card.widget-item .card-content.inline-image .image-wrapper.left {
  width: 33.33%; }

article.event.card .card-content.inline-image .content-wrapper, article.post.card .card-content.inline-image .content-wrapper,
article.event.card.widget-item .card-content.inline-image .content-wrapper, article.post.card.widget-item .card-content.inline-image .content-wrapper {
  width: 66.66%; }

article.event.card div.row, article.event.card ul.row {
  display: flex;
  align-items: stretch; }

article.event.card .image-col {
  padding: 0;
  position: relative; }
  article.event.card .image-col a.event-image {
    height: 100%;
    min-height: 18em; }

#main article.card .card-content {
  min-height: 7em; }

.sidebar article.card .card-content {
  min-height: 5em; }

/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Desktop Stylsheet

******************************************************************/
/***********************************
KNOB STYLES: Featured Content Slider
***********************************/
.hero-area {
  height: 440px; }

/*adding percentage for centered caption without flexbox*/
.no-flexbox .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexboxlegacy .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexbox .hero-area .image-container .caption,
.no-flexboxlegacy .hero-area .image-container .caption {
  width: 33.33%;
  left: 33.33%; }

ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption,
.hero-area .image-container .caption-wrapper .caption {
  max-width: 33.33%; }

/*********************
FOOTER STYLES
*********************/
footer.page-footer .widget-wrapper {
  border-top-width: 0;
  padding: 1em; }

/***********************************
KNOB STYLES: Breadcrumbs
************************************/
.KNOB-breadcrumbs {
  display: block; }
  .KNOB-breadcrumbs .breadcrumbs-inner > span span, .KNOB-breadcrumbs .breadcrumbs-inner span a {
    font-size: 1.125rem; }

/*********************
NAVIGATION STYLES
*********************/
.nav {
  border: 0; }
  .nav li > a {
    font-size: .9em;
    padding: 0 .9em; }

/***********************************
KNOB STYLES: Section Navigation
***********************************/
ul.section-links li.section-link a {
  font-size: 1rem; }

ul.section-links li.section-link:nth-child(3n+3), ul.section-links li.section-link:last-child {
  border-left: 0; }

ul.section-links li.section-link.take-five {
  width: 20%; }
  ul.section-links li.section-link.take-five:nth-child(4) {
    border-left: 0; }

/***********************************
KNOB STYLES: Events and News
************************************/
article.event div.row .image-col {
  min-height: 18em; }

.page-template-page-webshop section.webshop .shop-item {
  font-size: 1em; }

/*
you can call the larger styles if you want, but there's really no need
*/
