/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Breadcrumbs

******************************************************************/

div.KNOB-breadcrumbs {
  width: 100%;
  min-height: $navbar-height-mobile;
  line-height: $navbar-height-mobile;
  background-color: $white;
  @extend .sticker;
  .breadcrumbs-inner {
  & > span span, span a {
      display: inline-block;
      margin: 0 0.25em;
      &:first-child {
        margin-left: 0;
      }
      a {
        display: inline-block;
      }
    }
  }
 }
