/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Elements

******************************************************************/

.sticker {
  border-bottom-color: color("grey", "lighten-2");
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
