/***********************************
KNOB STYLES: Widgets
***********************************/

.sidebar {
	padding: 0 0 0 0;
	.widget {
	  &:first-child {
    	.section-title {
    		margin-top: 0;
    	}
    }
  }
}
.widget_knob_image_text_widget {
	.card.image-wrapper {
		max-width: 15em;
		img {
			display: block;
		}
	}
	ul.action-links  {
		border: 1px solid #ddd;
		li.action-link {
      padding: 0.75em 0.5em;
			font-size: 0.875rem;
			line-height: 1rem;
			display: inline-block;
			width: 100%;
			text-align: center;
			margin-bottom: 0;
			&:last-child {
				border-top: 1px solid #ddd;
			}
			a {
				text-transform: uppercase;
				color: $primary-color;
			}
		}
	}
}

// hide bulletin-link on bulletin page
.page-id-13 {
  .widget_knob_image_text_widget {
    ul.action-links {
      li.action-link:last-child {
        display: none;
      }
    }
  }
}



.knob-about-class {
	.section-title, .collapsible-body p {
		margin: 0 auto;
	}
}

.knob-about-class .collapsible-header  {
	color: $primary-color;
	border-bottom: 0;
}
.widget {
	footer.page-footer {
		overflow: hidden;
		padding-top: 0;
		margin-top: 0;
	}
}

#sidebar-webshop {
	.widget {
		padding: 1em;
	}
	padding-bottom: 2em;
}

.widget.knob-news-class,
.widget.knob-events-class,
.widget.knob-old-news-class {
	padding: 0;
	margin: 0;
	.card-content {
		font-size: 0.875em;
		padding: 1em;
		h1.h3 {
			font-size: 0.6em;
		}
		a {
			color: $black;
			&:hover {
				color: $secondary-color;
			}
		}
	}
	.card-action {
		font-size: 0.8em;
		a {
			color: $primary-color;
			&:hover {
				color: $secondary-color;
			}
		}
	}
	time {
		color: $primary-color;
	}
}
