/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Slider

******************************************************************/
.hero-area {
  height: 440px;
}

.slider, .image-container {
  height: 100% !important;
  overflow: hidden;
}

.slider .slides li.KNOB-slide-wrapper picture,
.image-container picture {
  display: block;
  height: 100%;
  width: 100%;
}

.slider .slides li.KNOB-slide-wrapper img,
.image-container img {
  height: auto;
  width: 100%;
  min-height: auto;
  min-width: auto;
  background-size: cover;
  background-position: center center;
}

ul.slides li.KNOB-slide-wrapper .caption-wrapper,
.image-container .caption-wrapper {
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align:center;
  align-items: center;
  justify-content: center;
  .caption {
    position: relative;
    height: auto;
    padding: 1em;
    top: auto;
    left: auto;
    h3.caption-header {
      color: $primary-color;
      margin: 0 auto;
      line-height: 1.25em;
      font-family: $corbert;
      text-transform: uppercase;
      font-size: 1.5em;
    }
    p.caption-subheader {
      margin: 0.5em auto 0;
      line-height: 1.5em;
      color: $black;
      text-transform: none;
    }
    span.card.caption-category {
  		font-size: 0.875em;
  		display: block;
  		position: absolute;
  		bottom: -2.5em;
  		right: 1.6em;
  		padding: 0.25em 0.5em;
  		text-transform: uppercase;
  		&.event-category {
  			color: $secondary-color;
  		}
  		&.news-category, &.news-date {
  			color: $green;
  		}
  	}
  }
}

.slider .slides li img {
  /* The url is relative to the document, not to the css file! */
  /* Prefer absolute urls to avoid confusion. */
  -ms-behavior: url('http://www.knob.nl.testbyte.nl/wp-content/themes/knob/library/css/backgroundsize.min.htc');
}

.slider {
  ul.indicators {
    z-index: 997;
    font-size: 2em;
    li.indicator-item {
      height: 0.5em;
      width: 0.5em;
      padding: 0.25em;
      margin: 0 0.25em;
      &:last-child {
        margin-right: 0.5em;
      }
      &.active {
        background-color: $secondary-color;
      }
    }
  }
}
