/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Desktop Stylsheet

******************************************************************/

/***********************************
KNOB STYLES: Featured Content Slider
***********************************/

.hero-area {
  height: 440px;
}


/*adding percentage for centered caption without flexbox*/

.no-flexbox .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexboxlegacy .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexbox .hero-area .image-container .caption,
.no-flexboxlegacy .hero-area .image-container .caption {
  width: 33.33%;
  left: 33.33%;
}

ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption,
.hero-area .image-container .caption-wrapper .caption {
		max-width: 33.33%;
}

/*********************
FOOTER STYLES
*********************/

footer.page-footer {
	.widget-wrapper {
			border-top-width: 0;
			padding: 1em;
	}
}
/***********************************
KNOB STYLES: Breadcrumbs
************************************/
.KNOB-breadcrumbs {
	display: block;
	.breadcrumbs-inner {
	& > span span, span a {
			font-size: 1.125rem; // h3
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
  li {
		& > a {
      font-size: .9em;
      padding: 0 .9em;
    }
  }
}

/***********************************
KNOB STYLES: Section Navigation
***********************************/
ul.section-links {
	li.section-link {
		a {
			font-size: 1rem;
		}
    &:nth-child(3n+3),&:last-child {
      border-left: 0;
    }
    &.take-five {
      width: 20%;
      &:nth-child(4) {
        border-left: 0;
      }
    }
	}
}

/***********************************
KNOB STYLES: Events and News
************************************/

article.event {
	div.row .image-col {
		min-height: 18em;
	}
}

.page-template-page-webshop section.webshop {
	.shop-item {
    font-size: 1em;
  }
}