/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
  li {
		& > a {
      font-size: 1em;
      padding: 0 1em;
    }
  }
}