/***********************************
KNOB STYLES: Events and News
************************************/

article.event.card.widget-item, article.post.card.widget-item {
	.card-content {
		&.inline-image {
			.image-wrapper.left {
				width: 33.33%;
			}
			.content-wrapper {
				width: 66.66%;
			}
		}
	}
}
