/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: 481px and Up Stylesheet

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/


/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {


	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

} /* end .entry-content */

/*********************
FOOTER STYLES
*********************/

/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */


/***********************************
KNOB STYLES: Featured Content Slider
***********************************/

ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption,
.hero-area .image-container .caption-wrapper .caption {
		max-width: 75%;
		h3.caption-header {
			font-size: 1.25em;
			letter-spacing: normal;
		}
}


.slider .slides li.KNOB-slide-wrapper img,
.image-container img {
  width: 100%;
  height: auto;
  min-height: auto;
  min-width: auto;
}


/*adding percentage for centered caption without flexbox*/
.no-flexbox .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexboxlegacy .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexbox .hero-area .image-container .caption,
.no-flexboxlegacy .hero-area .image-container .caption {
		width: 75%;
    min-height: 5em;
    left: 12.5%;
		margin-top: -4em;
}

/***********************************
KNOB STYLES: Breadcrumbs
************************************/
.KNOB-breadcrumbs {
	.breadcrumbs-inner {
	& > span span, span a {
			font-size: 0.875rem; // h3
			margin: 0 0.125rem;

		}
	}
}

/***********************************
KNOB STYLES: Section Links
************************************/

ul.section-links 	li.section-link {
	&:first-child, &:nth-child(2) {
		border-top: 1px solid #ddd;
	}
	&:nth-child(2n) {
		border-left: 0;
	}
}

/***********************************
KNOB STYLES: Events and News
************************************/

article.event.card, article.post.card {
	.card-content {
		&.inline-image {
			.image-wrapper.left {
				width: 33.33%;
			}
			.content-wrapper {
				width: 66.66%;
			}
		}
	}
}

article.event.card.widget-item, article.post.card.widget-item {
	.card-content {
		&.inline-image {
			.content-wrapper {
				width: 100%;
			}
		}
	}
}

/***********************************
KNOB STYLES: Webshop
************************************/

.page-template-page-webshop section.webshop {
	.shop-item {
		text-align: left;
	}
}


/***********************************
KNOB STYLES: Webshop
************************************/
footer.page-footer {
	div.footer-copyright {
		text-align: left;
		div.copy-line-or-block {
			display: inline;
			margin-bottom: 0;
		}
	}
}
