/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/


.nav {
	border: 0;
	overflow: hidden;
	li {

		& > a {
			font-size: 0.8em;
			padding: 0 0.8em;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus, &:active, {
				box-shadow: inset 0 -.25em 0 0 $primary-color;
			}
		}
		&.menu-item-has-children {
			a:hover {
				box-shadow: none;
			}
		}
		&:first-child {
			margin-left: 1.5rem;
		}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {
				}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
			box-shadow: inset 0 -.25em 0 0 $primary-color;
		}
	}  /* end current highlighters */

} /* end .nav */


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	.widgettitle {
	}

	.widget {

		ul {
			li {

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/***********************************
SEARCH STYLES:
***********************************/

	nav #search-wrapper {
	  padding-left: 14%
	}

/*********************
FOOTER STYLES
*********************/

footer.page-footer {
	.widget-wrapper {
		&:nth-of-type(2) {
			border-top-width: 0;
			padding-top: 0;
		}
	}
}

/***********************************
KNOB STYLES: Featured Content Slider
***********************************/

/*adding percentage for centered caption without flexbox*/
.no-flexbox .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexboxlegacy .hero-area .slider .slides li.KNOB-slide-wrapper .caption,
.no-flexbox .hero-area .image-container .caption,
.no-flexboxlegacy .hero-area .image-container .caption {
		width: 50%;
    min-height: 10em;
    left: 25%;
		margin-top: -5em;
}

ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption,
.hero-area .image-container .caption-wrapper .caption {
		max-width: 50%;
}

ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption,
.hero-area .image-container .caption-wrapper .caption {
	h3.caption-header {
		font-size: 1.5em;
	}
}

/***********************************
KNOB STYLES: Breadcrumbs
************************************/
.KNOB-breadcrumbs {
	display: block;
	.breadcrumbs-inner {
	& > span span, span a {
			font-size: 1rem; // h3
		}
	}
}

/***********************************
KNOB STYLES: Section Navigation
***********************************/

div.section-links-wrapper {
	position: relative;
	left: -0.75rem;
}

ul.section-links {
		margin: 0 auto;
	li.section-link {
		a {
			font-size: 1rem;
		}
		&:first-child, &:nth-child(2) {
			border-top: 0;
		}
		&.s4:nth-child(2n+1), &.s3:nth-child(4) {
			border-left: 0;
		}
		&.s4:nth-child(3n+1) {
			border-left: 1px solid #ddd;
		}
	}
}

a.btn.back-to-top {
	span.btn-text {
		display: inline;
	}
	i {
		margin-left: 0.5em;
	}
}


/***********************************
KNOB STYLES: Events and News
************************************/

article.event.card, article.post.card,
article.event.card.widget-item, article.post.card.widget-item {
	.card-content {
		&.inline-image {
			.image-wrapper.left {
				width: 33.33%;
			}
			.content-wrapper {
				width: 66.66%;
			}
		}
	}
}

article.event.card {
	div.row, ul.row {
		display: flex;
		align-items: stretch;
	}
	.image-col {
		padding: 0;
		position: relative;
		a.event-image {
			height: 100%;
			min-height: 18em;
		}
	}
}

#main article.card {
	.card-content {
		min-height: 7em;
	}
}

.sidebar article.card {
	.card-content {
		min-height: 5em;
	}
}
