/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Average Tablet & Small Desktop Stylesheet (medium);
******************************************************************/

ul.section-links 	li.section-link:nth-child(3n+3),
ul.section-links 	li.section-link:last-child {
		border-left: 0;
}

/***********************************
SEARCH STYLES:
***********************************/

nav #search-trigger {
	padding-top: inherit;
  padding-bottom: inherit;
  i {
    font-size: 1.25em;
  }
}


/***********************************
KNOB STYLES: Featured Content Slider
***********************************/

.nav-wrapper {
	padding-left: 12%;
	text-align: center;
	.brand-logo {
		position: absolute;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		top: 0;
		left: 0;
	}
}

.hero-area {
  height: 320px;
}

/***********************************
KNOB STYLES: Widget areas (homepage)
***********************************/

.home #main {
  padding-right: 4em;
}

.page-template-page-webshop section.webshop {
	.shop-item {
    font-size: 0.875em;
		border: 1px solid #f4f4f4;
		padding: 2em;
    height: 20em;
    overflow: hidden;
    border-bottom: 0;
		&:nth-child(even) {
			border-left: 0;
		}
    &:nth-last-child(2), &:last-child {
      border-bottom: 1px solid #f4f4f4;
    }
	}
}
