/******************************************************************
Site Name: Koninklijke Nederlandse Oudheidkundige Bond (knob.nl)
Author: Willem Prins | SOMTIJDS

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html{
	font-family: $noto;
  line-height: 1.5;
  font-weight: normal;


  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }
}

body {
	font-family: $noto;
	font-size: 100%;
	line-height: 1.5;
	color: $black;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}
	&.btn {
		color: $white;
	}
	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	line-height: 1.33em;
	margin-bottom: 0.33em;
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
}

h2, .h2 {
	font-size: 1.75em;
}

h3, .h3 {
	font-size: 1.33em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	div.nav-wrapper {
		background-color: $white;
		a.brand-logo {
			background-image: url('../images/knob-logo.png');
			background-image: url('../images/knob-logo-optimised.svg'), linear-gradient(transparent,transparent);
			background-repeat: no-repeat;
			background-size: auto 60%;
			/* The url is relative to the document, not to the css file! */
			/* Prefer absolute urls to avoid confusion. */
			-ms-behavior: url('http://www.knob.nl.testbyte.nl/wp-content/themes/knob/library/css/backgroundsize.min.htc');
			background-position: center center;
			font-size: 1em;
			width: 9%;
			min-width: 8rem;
			text-indent: -9999px;
		}
		a.button-collapse {
			margin: 0;
			i {
				padding: 0 1rem;
			}
		}
		nav {
			background-color: $white;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

nav a {
	color: $primary-color;
}

.nav {
	border-bottom: 0;

	li {
		&:hover, &:focus, &:active {
			background-color: transparent;
			a {
				text-color: $primary-color;
			}
		}

		& > a {
			color: $primary-color;
			font-family: $corbert;
			text-transform: uppercase;
			text-decoration: none;
			padding: 0 0.75em;

			&:hover, &:focus, &:active {
				text-decoration: none;
				color: $primary-color;
			}
		}
	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	//margin-top: 1.5em;
	& > #inner-content > .row {
		margin-top: 2em;
		margin-bottom: 0;
	}
}

body.home #content {
	margin-top: 0;
}

body main {
	flex: 1 0 auto;
}

.hentry {
background-color: $white;
margin-bottom: 1.5em;

header {
	border-bottom: 1px solid $light-gray;
	padding: 1.5em 0;
}

footer {
	padding: 1.5em 0;
	border-top: 1px solid $light-gray;

	p {
		margin: 0;
	}
}

} /* end .hentry */

.single-title,
.page-title,
.entry-title {
margin: 0;
}

.single-title {}
.page-title {}
.entry-title {}
.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			//padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}
			ol, ul {
				padding-left: 2em;
			}
			ol li {
				list-style: decimal;
			}
			ul li {
				list-style: disc;
			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	nav.pagination{
		background-color: $white;
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
			height: auto;
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
			line-height: $navbar-height-mobile;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      font-size: 1em;
      font-weight: normal;
      min-width: 1em;
      display: block;
      color: $primary-color;

      &:hover, &:focus {
      	color: $secondary-color;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES REMOVED
******************************************************************/

/***********************************
SEARCH STYLES:
***********************************/

nav #search-trigger {
	height: 100%;
	padding: 0 1.5em;
 	i {
		font-size: 1.5em;
		color: $primary-color;
	}
}

nav #search-wrapper {
	padding-top: 2em;
	background: $white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	border-top: darken($white,10);
	input {
		position: relative;
		top: 0.5em;
		font-size: 1.25em;
		line-height: 1em;
	}
}

body.search-results {
	.hentry entry-header {
		border-bottom-width: 0;
	}
 	article {
		border-bottom: 1px solid #ddd;
		ul {
			margin: 0;
		}
	}
}

/***********************************
KNOB STYLES: Mobile Navigation
***********************************/

.navbar-fixed {
	z-index: 998;
}

nav a.button-collapsed i, nav a.button-collapse i {
	font-size: 2rem;
	color: $primary-color;
}

nav a.button-collapsed {
	height: 64px;
	line-height: 64px;
	text-align: right;
	i {
		padding: 1rem 0;
	}
}

#sidenav-overlay {
	display: none;
}

/***********************************
KNOB STYLES: Featured Content Slider
***********************************/

.hero-area {
  height: 320px;
}

.image-container, .KNOB-slide-wrapper {
  position: relative;
	text-align: center;
}

.image-container .caption-wrapper, .KNOB-slide-wrapper .caption-wrapper {
height: 100%;
}

.no-flexbox .hero-area .slider .slides li.KNOB-slide-wrapper,
.no-flexboxlegacy .hero-area .slider .slides li.KNOB-slide-wrapper,
.no-flexbox .hero-area .image-container,
.no-flexboxlegacy .hero-area .image-container {
		.caption {
			position: absolute;
		  width: 85%;
			max-width: 85%;
			left: 7.5%;
			top: 50%;
			margin-top: -3em;
		}
	}

ul.slides li.KNOB-slide-wrapper .caption-wrapper .caption,
.hero-area .image-container .caption-wrapper .caption {
	max-width: 85%;
	overflow: visible;
	text-align: left;
	margin: auto;
	h3.caption-header {
		font-size: 1.2em;
		letter-spacing: -0.5px;
		margin-top: 0;
		margin-bottom: 0.33em;
		color: $primary-color;
	}
	h5.caption-subheader {
		hyphens: none !important;
		display: none;
	}
}

/***********************************
KNOB STYLES: Article styles
***********************************/

.blog h1.h2 {
	margin-bottom: 1.125em;
}

h3.section-title {
	font-size: 1.25em;
}

ul.section-links {
	font-size: 0.875rem;
	margin: 2em auto 0;
	li.section-link {
		width: 100%;
		list-style-type: none;
		display: block;
		text-align: left;
		min-height: $navbar-height-mobile;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding-right: 0;
		a {
			display: block;
			line-height: $navbar-height-mobile;
			color: $primary-color;
			i {
				margin-left: 0.5rem;
			}
		}
		&:first-child {
			border-top: 1px solid #ddd;
		}
		&:hover {
			color: $secondary-color;
			i:before {
				content: "\f107";
			}
		}
	}
}

div.page-sections-wrapper section.page-section {
	padding: 0 0 1em 0;
	div.section-content{
		h3 {
			margin: 1em 0 0.25em;
		}
		p {
			margin-top: 0;
			margin-bottom: 0.5em;
		}
	}
	&:first-child h3.section-title {
		margin-top: 0;
	}

}

a.btn.back-to-top {
	display: none;
	right: 0;
	z-index: 999;
	margin: 0 1em 1em 0;
	color: white;
	span.btn-text {
		display: none;
	}
	&.pin-top {
		right: 0;
		display: none;
	}
	&.pinned {
		display: block;
	}
}

article p strong {
	font-weight: 700;
}

/***********************************
KNOB STYLES: Breadcrumbs
************************************/

.KNOB-breadcrumbs {
	display: none;
}

/***********************************
KNOB STYLES: Events and News Widget
************************************/

article.event.card, article.post.card {
	overflow: hidden;
	&:first-child {
		margin-top: 0;
	}
	&.widget-item {
		font-size: 0.95rem;
		.card-content {
			padding: 0.8em;
		}
		.row.action-links {
			overflow: hidden;
			font-size: 0.875em;
		}
	}

	.card-content {
		padding: 1em;
		position: relative;
		.content-wrapper {
			width: 100%;
		}
		header.article-header {
			padding: 0;
			margin-bottom: 0.5em;
			h1 {
				font-size: 0.8em;
			}
			h3 {
				font-size: 0.625em;
			}
			a {
				color: $primary-color;
			}
		}
		&.no-excerpt {
			header.article-header {
				margin: 0;
			}
		}
		&.inline-image {
			position: relative;
			height: auto;
			padding: 0;
			.image-wrapper.left {
				position: absolute;
				height: 100%;
				overflow: hidden;
				a {
					display: block;
					height: 100%;
					width: 100%;
				}
			}
			.content-wrapper {
				padding: 0.8em;
			}
		}
	}

	footer.card-action {
		padding: 0;
		ul.row.action-links {
			display: flex;
			align-content: stretch;
			margin: 0;
			li.action-link {
				align-items: stretch;
				padding: 0.8em;
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				&:first-child {
					border-right: 1px solid #ddd;
				}
				a {
					color: $primary-color;
					margin-right: 0;
					i {
						margin-left: 0.5rem;
					}
					&:hover {
						color: $secondary-color;
						i {
							position: relative;
							right: 0.125rem;
						}
					}
				}
			}
		}
	}
}

/*********************
KNOB STYLES IMAGE WIDGET
*********************/
.no-flexbox,
.no-flexboxlegacy {
	.widget_knob_image_text_widget .image-wrapper a img {
		height: 100%;
	}
}

/*********************
FOOTER STYLES
*********************/

footer.page-footer {
	font-size: 0.9rem;
	clear: both;
	background-color: darken($primary-color,10);
	color: $white;
	.widget-wrapper {
		border-top: 1px solid darken($primary-color,15);
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 1em;
		&:first-of-type {
			border-top-width: 0;
			padding-top: 0;
		}
	}
	.widget li {
		i { margin-right: 0.5em; }
		a { color: $white; }
	}
	.widget input {
		color: $white;
		max-width: 20em;
	}
	.widget-easy-twitter-feed-widget-global-wrapper {
		.widget-easy-twitter-feed-widget-container > .row {
			margin: 0;
		}
	}
	div.footer-copyright {
		text-align: center;
		height: auto;
		min-height: $navbar-height-mobile;
		line-height: 1.1em;
		div.copy-line-or-block {
			display: block;
			margin-bottom: 0.5em;
		}
	}
}

/***********************************
KNOB STYLES: Styling specific for Events and News items
************************************/
.blog {
	article.post {
		.card-image {
			.image-wrapper {
				display: block;
				max-height: 20em;
				overflow: hidden;
			}
		}
	}
}


article.event {
	.event-downloads {
		.file-icon, i {
			line-height: 3em;
			height: 3em;
			width: auto;
			margin-right: 1em;
		}
	}
	.table {
		table-layout: fluid;
		width: 100%;
	 	th {
			padding: 0;
			border-bottom: 0;
		}
		thead {
			border-bottom: 0;
		}
		td {
			vertical-align: top;
			p, ul.price-list {
				margin: 0;
			}
		}
	}
	div.row, ul.row {
		margin-top: 0;
		margin-bottom: 0;
	}
	.card-content {
		.entry-details {
			margin-top: 0.5em;
			padding: 0;
		}
		.table {
			tbody tr {
				width: 100%;
			}
			tbody td {
				vertical-align: top;
				padding: 0.5em 0 0 0;

				&:first-child {
					column-width: auto;
				}
			}
		}
	}
	a.event-image {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 16em;
	}
}


/***********************************
KNOB STYLES: Forms
************************************/

form.frm-show-form {
	input[type="radio"]:not(:checked),
	input[type="radio"]:checked,
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked {
	    position: inherit;
	    left: auto;
	    visibility: visible;
	}
	select {
		display: inline;
	}
}
form.frm-show-form fieldset,
.single-form fieldset {
	padding: 0;
	border: 0;
	.frm_error {
		color: $red;
		font-size: 0.875em;
	}
	.frm_message p {
		color: $green;
	}
	img.frm_ajax_loading {
		display: none;
	}
}
form.frm-show-form div.frm_error_style {
	color: $red;
}

form legend {
	max-width: 100%;
	word-wrap: normal;
}

/***********************************
KNOB STYLES: Webshop
************************************/

#sidebar-home .knob-image-text-widget-text {
	font-size: 0.875rem;
	div.item-title {
		font-size: 1.2em;
		margin-bottom: 0.375em;
	}
}

.page-template-page-webshop section.webshop {
	.shop-item {
		text-align: center;
		margin-bottom: 2em;
	}

	.card.image-wrapper {
		max-width: 15em;
		margin: 1em auto;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.item-buttons li {
		display: inline;
		margin-right: 0.25em;
		&:last-child {
			margin-right: 0;
		}
		a {
			color: $white;
			margin-top: 0.5em;
			padding-left: 0.8em;
			padding-right: 0.8em;
		}
	}
}

/***********************************
KNOB STYLES: Webshop
************************************/

.timeline.flatLine a.t_line_node, #content .timeline.flatLine a.t_line_node {
	font-size: 16px;
}

.timeline.flatLine .t_line_holder, #content .timeline.flatLine .t_line_holder {
	height: 90px;
}


/***********************************
KNOB STYLES: Adding flex to slider + featured images
************************************/

#hero .slider .slides li.KNOB-slide-wrapper picture,
#hero .image-container picture {
	display: block;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}